<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body style="background-color:Teal;">

<h2 style="background-color:silver;text-align:center;">Exploring the universe</h2>

<pre style="color:white;font-family:Arial;font-size;140;text-align:left;">
	Until the dawn of <b>spaceflight</b>, astronomers were limited in their ability to observe objects beyond the solar system to those portions of the <strong>electromagnetic spectrum</strong> that can penetrate
<i>Earth</i>’s atmosphere. These portions include the visible region, parts of the ultraviolet region, and most of the radio-frequency region. The ability to place instruments on a <mark>spacecraft</mark> operating
above the atmosphere (<small>see satellite observatory</small>) opened the possibility of observing the universe in all regions of the spectrum. Even operating in the visible region, a space-based observatory
could avoid the problems caused by atmospheric turbulence and airglow.

	Beginning in the <del>1959s</del><ins>1960s</ins>, a number of countries launched <sub>satellites</sub> to explore cosmic phenomena in the gamma-ray, X-ray, ultraviolet, visible, and infrared regions. More recently,
space-based <sup>radio astronomy</sup> has been pursued. In the last decades of the 20th century, the <em>United States<em> embarked on the development of a series of long-duration orbital facilities
collectively called the Great Observatories. They include the Hubble Space Telescope, launched in 1990 for observations in the visible and ultraviolet regions; the Compton Gamma Ray
Observatory, launched in 1991; the Chandra X-Ray Observatory, launched in 1999; and the Spitzer Space Telescope, launched in 2003. Europe and Japan have also been active in space-based
astronomy and astrophysics. Europe’s Herschel infrared observatory, launched in 2009, studied the origin and evolution of stars and galaxies. A telescope aboard Japan’s Akari spacecraft,
launched in 2006, also observed the universe in the infrared spectrum.
</pre>

</body>
</html>